#heading {
    font-size: 3rem;
    color: white;
    background: rgb(0, 0, 0);
    text-align: center;
    margin: 0px;
    padding: 8vh;
    float: ;
}
#portrait {
    width: 15vh;
    border-radius: 50%;
    border-color: rgba(0, 0, 255, 0);
    border-style: solid;
    position: absolute;
    top: 15vh;
    left: -7.5vh
}

#mailicon {
    top: 31vh;
    left: -7.5vh;
}
#youtubeicon {
    top: 38vh;
    left: -7.5vh;
}
#instagramicon {
    top: 45vh;
    left: -7.5vh;
}
#githubicon {
    top: 52vh;
    left: -7.5vh;
}
#linkedinicon {
    top: 59vh;
    left: -7.5vh;
}
#aboutme {
    background: rgba(255, 0, 0, 0.199);
    font-family: Georgia;
    margin-top: 6vw;
    font-size: 1.3rem;
}
header {
    background: red;
    margin: 0px;
    padding: 0px;
}
p {
    width: 60vw;
}
body {
    background: rgb(255, 255, 255);
    margin: 0px;
}
div {
    padding-left: 5vw;
    padding-right: 2vw;
    padding-top: 3vw;
    padding-bottom: 2.5vw;
    margin-left: 10vh;
}
h2 {
    transform: rotate(90deg);
    position: absolute;
    color: red;
    font-size: 2rem;
    float: right;
}
.icons {
    width: 6vh;
    border-radius: 50%;
    position: absolute;
    top: 20vh;
}
.Portrait {
    animation: clickme 6s linear 0s infinite;
}

@keyframes clickme {
    0%{
        border-color: rgba(185, 28, 28, 0);
    }
    82%{
        border-color: rgb(185, 28, 28,0);
    }
    83%{
        border-color: rgb(185, 28, 28);
    }
    84%{
        border-color: rgb(185, 28, 28);
    }
    85%{
        border-color: rgb(185, 28, 28,0);
    }
    86%{
        border-color: rgb(185, 28, 28,0);
    }
    88%{
        border-color: rgb(185, 28, 28);
    }
    89%{
        border-color: rgb(185, 28, 28);
    }
    90%{
        border-color: rgb(185, 28, 28,0);
    }
    100%{
        border-color: rgba(185, 28, 28, 0);
    }
}

.portraitClicked { 
    animation: moving 1s linear 0s 1;
    left: 1vh !important;
}

@keyframes moving {
    0%{
        left: -7.5vh;
    }
    10%{
        left: -7vh;
    }
    40%{
        left: 0.5vh;
    }
    50%{
        left: 1vh;
    }
}

.portraitDeClicked {
    animation-name: unmoving;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: left center;
    left: -7.5vh !important;
}

@keyframes unmoving {
    0%{
        left: 1vh;
    }
    10%{
        left: 0.5vh;
    }
    90%{
        left: -7vh;
    }
    100%{
        left: -7.5vh;
    }
}

.mailClicked {
    animation-name: mailmoving;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: left center;
    left: 5vh !important;
}

@keyframes mailmoving {
    0%{
        left: -7vh;
    }
    10%{
        left: -6.5vh;
    }
    40%{
        left: 4.5vh;
    }
    50%{
        left: 5vh;
    }
}

.mailDeClicked {
    animation-name: mailunmoving;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: left center;
    left: -7.5vh !important;
}

@keyframes mailunmoving {
    0%{
        left: 5vh;
    }
    10%{
        left: 4.5vh;
    }
    90%{
        left: -6.5vh;
    }
    100%{
        left: -7.5vh;
    }
}

.ytClicked {
    animation-name: ytmoving;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: left center;
    left: 5vh !important;
}

@keyframes ytmoving {
    0%{
        left: -7vh;
    }
    10%{
        left: -6.5vh;
    }
    50%{
        left: 4.5vh;
    }
    60%{
        left: 5vh;
    }
}

.ytDeClicked {
    animation-name: ytunmoving;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: left center;
    left: -7.5vh !important;
}

@keyframes ytunmoving {
    0%{
        left: 5vh;
    }
    10%{
        left: 4.5vh;
    }
    90%{
        left: -6.5vh;
    }
    100%{
        left: -7.5vh;
    }
}

.instClicked {
    animation-name: instmoving;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: left center;
    left: 5vh !important;
}

@keyframes instmoving {
    0%{
        left: -7vh;
    }
    10%{
        left: -6.5vh;
    }
    70%{
        left: 4.5vh;
    }
    80%{
        left: 5vh;
    }
}

.instDeClicked {
    animation-name: instunmoving;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: left center;
    left: -7.5vh !important;
}

@keyframes instunmoving {
    0%{
        left: 5vh;
    }
    10%{
        left: 4.5vh;
    }
    90%{
        left: -6.5vh;
    }
    100%{
        left: -7.5vh;
    }
}

.gitClicked {
    animation-name: gitmoving;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: left center;
    left: 5vh !important;
}

@keyframes gitmoving {
    0%{
        left: -7vh;
    }
    10%{
        left: -6.5vh;
    }
    80%{
        left: 4.5vh;
    }
    90%{
        left: 5vh;
    }
}

.gitDeClicked {
    animation-name: gitunmoving;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: left center;
    left: -7.5vh !important;
}

@keyframes gitunmoving {
    0%{
        left: 5vh;
    }
    10%{
        left: 4.5vh;
    }
    90%{
        left: -6.5vh;
    }
    100%{
        left: -7.5vh;
    }
}

.linkClicked {
    animation-name: linkmoving;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: left center;
    left: 5vh !important;
}

@keyframes linkmoving {
    0%{
        left: -7vh;
    }
    10%{
        left: -6.5vh;
    }
    90%{
        left: 4.5vh;
    }
    100%{
        left: 5vh;
    }
}

.linkDeClicked {
    animation-name: linkunmoving;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: left center;
    left: -7.5vh !important;
}

@keyframes linkunmoving {
    0%{
        left: 5vh;
    }
    10%{
        left: 4.5vh;
    }
    90%{
        left: -6.5vh;
    }
    100%{
        left: -7.5vh;
    }
}

.topic {
    background: black;
    margin-top: 1vh;
    margin-bottom: 5vh;
    color: white;
}