@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto|Offside&display=swap');
#novi {
    font-family: 'Offside';
    font-size: 3em; 
    color:blue; 
}
.table{
    display: table;
    width:100vw;
}
.row{
    display:table-row;
}
.cell{
    display: table-cell;
}
a {
    color:black;
    text-decoration: none;
    display: initial;
}
h1 {
    font-family: 'Permanent Marker';
    margin-left: 1em;
    margin-block-end: 0;
}

h2 {
    font-family: 'Permanent Marker';
    margin-left: 1em;
    margin-block-start: 3em;
    margin-block-end: 0;

}
h3 {
    font-family: 'Permanent Marker';

}
p {
    font-family: 'Roboto';
    margin-inline-end: 1.5em;
}

.cell img, .cell p{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-block-start: 10vw;
    margin-inline-end: 0;
    margin-left:2vw;
}
.cell h2{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-block-start: 10vw;
    margin-inline-end: 0;
    margin-right: 3em;
    font-size: medium;
}
@media only screen and (min-width:600px) {
     main {
        margin:auto;
        width: 50vw;
    }

    }
     