
.portraitClicked { 
    animation: moving 1s linear 0s 1;
    right: 1vw !important;
}

@keyframes moving {
    0%{
        right: -7.5vw;
    }
    10%{
        right: -7vw;
    }
    40%{
        right: 0.5vw;
    }
    50%{
        right: 1vw;
    }
}

.portraitDeClicked {
    animation-name: unmoving;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: right center;
    right: -7.5vw !important;
}

@keyframes unmoving {
    0%{
        right: 1vw;
    }
    10%{
        right: 0.5vw;
    }
    90%{
        right: -7vw;
    }
    100%{
        right: -7.5vw;
    }
}

.mailClicked {
    animation-name: mailmoving;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: right center;
    right: 35vw !important;
}

@keyframes mailmoving {
    0%{
        right: -7vw;
    }
    10%{
        right: -6.5vw;
    }
    40%{
        right: 4.5vw;
    }
    50%{
        right: 35vw;
    }
}

.mailDeClicked {
    animation-name: mailunmoving;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: right center;
    right: -7.5vw !important;
}

@keyframes mailunmoving {
    0%{
        right: 5vw;
    }
    10%{
        right: 4.5vw;
    }
    90%{
        right: -6.5vw;
    }
    100%{
        right: -7.5vw;
    }
}

.ytClicked {
    animation-name: ytmoving;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: right center;
    right: 53vw !important;
}

@keyframes ytmoving {
    0%{
        right: -7vw;
    }
    10%{
        right: -6.5vw;
    }
    50%{
        right: 4.5vw;
    }
    60%{
        right: 53vw;
    }
}

.ytDeClicked {
    animation-name: ytunmoving;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: right center;
    right: -7.5vw !important;
}

@keyframes ytunmoving {
    0%{
        right: 5vw;
    }
    10%{
        right: 4.5vw;
    }
    90%{
        right: -6.5vw;
    }
    100%{
        right: -7.5vw;
    }
}

.instClicked {
    animation-name: instmoving;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: right center;
    right: 64vw !important;
}

@keyframes instmoving {
    0%{
        right: -7vw;
    }
    10%{
        right: -6.5vw;
    }
    70%{
        right: 4.5vw;
    }
    80%{
        right: 64vw;
    }
}

.instDeClicked {
    animation-name: instunmoving;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: right center;
    right: -7.5vw !important;
}

@keyframes instunmoving {
    0%{
        right: 5vw;
    }
    10%{
        right: 4.5vw;
    }
    90%{
        right: -6.5vw;
    }
    100%{
        right: -7.5vw;
    }
}

.gitClicked {
    animation-name: gitmoving;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: right center;
    right: 70vw !important;
}

@keyframes gitmoving {
    0%{
        right: -7vw;
    }
    10%{
        right: -6.5vw;
    }
    80%{
        right: 4.5vw;
    }
    90%{
        right: 70vw;
    }
}

.gitDeClicked {
    animation-name: gitunmoving;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: right center;
    right: -7.5vw !important;
}

@keyframes gitunmoving {
    0%{
        right: 5vw;
    }
    10%{
        right: 4.5vw;
    }
    90%{
        right: -6.5vw;
    }
    100%{
        right: -7.5vw;
    }
}

.linkClicked {
    animation-name: linkmoving;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: right center;
    right: 80vw !important;
}

@keyframes linkmoving {
    0%{
        right: -7vw;
    }
    10%{
        right: -6.5vw;
    }
    90%{
        right: 4.5vw;
    }
    100%{
        right: 80vw;
    }
}

.linkDeClicked {
    animation-name: linkunmoving;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: right center;
    right: -7.5vw !important;
}

@keyframes linkunmoving {
    0%{
        right: 5vw;
    }
    10%{
        right: 4.5vw;
    }
    90%{
        right: -6.5vw;
    }
    100%{
        right: -7.5vw;
    }
}