body{
    margin: 0px;
    background;
}
.heading{
    color: red;
    margin: 6vw;
    padding: 3vw;
    padding-left: 5vw;
    font-family: sans-serif;
    font-size: 5vh;
    text-align: left;
}

.icons {
    width: 14vw;
    border-radius: 50%;
    position: absolute;
    top: 44vw;
    right: -7.5vh;
}

.portrait {
    width: 28vw;
    border-radius: 50%;
    border-color: rgba(0, 0, 255, 0);
    border-style: solid;
    position: absolute;
    top: 35vw;
    right: -7.5vw
}


.card{
    position: absolute;
    top: 60vw;
    background: black;
    color: white;
    margin: 6vw;
    padding: 3vw;
    padding-left: 5vw;
    
}